MACROS:

Samba_NAME	= Samba File and Print Server
Samba_VER	= 2.2.4a

DEFAULT_EXEC_MODE = 0755

DEFAULT_FILE_MODE = 0644
DEFAULT_FILE_OWNER = bin
DEFAULT_FILE_GROUP = bin

DEFAULT_DIR_MODE = 0755
DEFAULT_DIR_OWNER = bin
DEFAULT_DIR_GROUP = bin

DEFAULT_FIFO_MODE = 0644
DEFAULT_FIFO_OWNER = bin
DEFAULT_FIFO_GROUP = bin

DEFAULT_DISTTREEROOT_SHARED = $CDMT_DIR
DEFAULT_DISTTREEROOT_CLIENT = $CDMT_DIR

CONFIG:
        removeFiles     = FALSE
        removalPrompt   = FALSE
        archiveMedia    = FLOPPY
        compress        = TRUE
        ssoDir          = sso

FLOPPY_MEDIA:
        device          = /dev/rfd0
        volumeSize      = 8000
        distVersion     = $Samba_VER
        distCode        = SCO
        paperLabel      = "Samba"

