[Unit]
Description=CTDB
Documentation=man:ctdbd(1) man:ctdb(7)
After=network-online.target time-sync.target
ConditionFileNotEmpty=/etc/ctdb/nodes

[Service]
Type=forking
LimitCORE=infinity
LimitNOFILE=1048576
TasksMax=4096
PIDFile=/run/ctdb/ctdbd.pid
ExecStart=/usr/sbin/ctdbd_wrapper start
ExecStop=/usr/sbin/ctdbd_wrapper stop
KillMode=control-group
Restart=no

[Install]
WantedBy=multi-user.target
