#! /bin/sh

#
# Samba server control
#

IS_ON=/etc/chkconfig
KILL=/usr/bin/kill

SAMBAD=/usr/samba/bin/smbd
#SAMBA_OPTS=-d2
NMBD=/usr/samba/bin/nmbd
#NMBD_OPTS=-d1

if test ! -x $IS_ON ; then
    IS_ON=true
fi

if $IS_ON verbose ; then
    ECHO=echo
else		# For a quiet startup and shutdown
    ECHO=:
fi

case $1 in
'profile')
	if $IS_ON samba && test -x $SAMBAD; then
	    ps -p `cat /usr/samba/var/locks/smbd.pid` | grep smbd > /dev/null
	    if [ $? -eq 0 ]; then
		$KILL -15 `cat /usr/samba/var/locks/smbd.pid`
	    fi
	    ps -p `cat /usr/samba/var/locks/nmbd.pid` | grep nmbd > /dev/null
	    if [ $? -eq 0 ]; then
		$KILL -15 `cat /usr/samba/var/locks/nmbd.pid`
	    fi
	    $ECHO "Samba:\c"
	    $SAMBAD.profile $SAMBA_OPTS; $ECHO " smbd.profile\c"
	    $NMBD.profile $NMBD_OPTS; $ECHO " nmbd.profile\c"
	    $ECHO "."
	fi
	;;
'start')
	if $IS_ON samba && test -x $SAMBAD; then
	    ps -p `cat /usr/samba/var/locks/smbd.pid` | grep smbd > /dev/null
	    if [ $? -eq 0 ]; then
		$KILL -15 `cat /usr/samba/var/locks/smbd.pid`
	    fi
	    ps -p `cat /usr/samba/var/locks/nmbd.pid` | grep nmbd > /dev/null
	    if [ $? -eq 0 ]; then
		$KILL -15 `cat /usr/samba/var/locks/nmbd.pid`
	    fi
	    $ECHO "Samba:\c"
	    $SAMBAD $SAMBA_OPTS; $ECHO " smbd\c"
	    $NMBD $NMBD_OPTS; $ECHO " nmbd\c"
	    $ECHO "."
	fi
	;;
'stop')
	$ECHO "Stopping Samba Servers."
	ps -p `cat /usr/samba/var/locks/smbd.pid` | grep smbd > /dev/null
	if [ $? -eq 0 ]; then
	    $KILL -15 `cat /usr/samba/var/locks/smbd.pid`
	fi
	ps -p `cat /usr/samba/var/locks/nmbd.pid` | grep nmbd > /dev/null
	if [ $? -eq 0 ]; then
	    $KILL -15 `cat /usr/samba/var/locks/nmbd.pid`
	fi
	exit 0
	;;
*)
	echo "usage: /etc/init.d/samba {start|stop|profile}"
	;;
esac
