[Desktop Entry]
Encoding=UTF-8
Name=Endpoint Dumper
Comment=Show DCE/RPC endpoint mapper
Exec=gepdump
#Icon=media-player-48.png
Terminal=false
Type=Application
Categories=GNOME;GTK;Application;DCE/RPC;Endpoint;Samba;
StartupNotify=true
