[Desktop Entry]
Encoding=UTF-8
Name=Registry Editor
Comment=Edit Windows-Style Registry files
Exec=gregedit
#Icon=media-player-48.png
Terminal=false
Type=Application
Categories=GNOME;GTK;Application;Registry;Samba;
StartupNotify=true
