[Desktop Entry]
Encoding=UTF-8
Name=Windows Job Scheduler
Comment=Windows Job Scheduler
Exec=gwcrontab
#Icon=media-player-48.png
Terminal=false
Type=Application
Categories=GNOME;GTK;Application;Crontab;At;Samba;
StartupNotify=true
