# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Left
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakAfterReturnType: None
BasedOnStyle: LLVM
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
    AfterEnum: false
    AfterFunction: true
    AfterStruct: false
    AfterUnion: false
    AfterExternBlock: true
    BeforeElse: false
    BeforeWhile: false
    AfterControlStatement: MultiLine
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Custom
ColumnLimit: 79
ContinuationIndentWidth: 8
IndentCaseLabels: false
IndentGotoLabels: false
IndentWidth: 8
PenaltyBreakAssignment: 200
PenaltyBreakBeforeFirstCallParameter: 100
PenaltyReturnTypeOnItsOwnLine: 1000
SortIncludes: false
UseTab: true
WhitespaceSensitiveMacros: ['DEBUG']
