# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: LLVM
IndentWidth: 8
ContinuationIndentWidth: 8
UseTab: true
BreakBeforeBraces: Custom
BraceWrapping:
    AfterEnum: false
    AfterFunction: true
    AfterStruct: false
    AfterUnion: false
    AfterExternBlock: true
    BeforeElse: false
    BeforeWhile: false
    AfterControlStatement: MultiLine
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 80
IndentCaseLabels: false
AlignAfterOpenBracket: Align
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: true
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakAfterReturnType: None
AlignEscapedNewlines: Left
SortIncludes: false
IndentGotoLabels: false
WhitespaceSensitiveMacros: ['DEBUG']
PenaltyReturnTypeOnItsOwnLine: 1000
PenaltyBreakAssignment: 200
PenaltyBreakBeforeFirstCallParameter: 100
BreakBeforeBinaryOperators: None
