/bin/
/lib/*/bin/
/st/
.waf*
.lock-wscript
.build.log
*~
*.swp
/tags
/TAGS
GPATH
GRTAGS
GSYMS
GTAGS
cscope*.out
autom4te.cache
/source3/.clang_complete
*.patch
*.pyc
semantic.cache
/selftest/gnupg/random_seed
/selftest/gnupg/.gpg-*
/pidl/blib
/pidl/cover_db
/pidl/Makefile
/pidl/pm_to_blib
/pidl/MYMETA.yml
/pidl/MYMETA.json
/packaging/RHEL-CTDB/samba.spec
/packaging/RHEL/samba.spec
/packaging/RHEL/makerpms.sh
/docs-xml/build/catalog.xml
/docs-xml/*/images/*.eps
/docs-xml/*/images/*.pdf
/docs-xml/output
/docs-xml/Samba3-ByExample/images/AccountingNetwork.png
/docs-xml/Samba3-ByExample/images/Charity-Network.png
/docs-xml/Samba3-ByExample/images/UNIX-Samba-and-LDAP.png
/docs-xml/Samba3-ByExample/images/acct2net.png
/docs-xml/Samba3-ByExample/images/ch7-dual-additive-LDAP-Ok.png
/docs-xml/Samba3-ByExample/images/ch7-dual-additive-LDAP.png
/docs-xml/Samba3-ByExample/images/ch7-fail-overLDAP.png
/docs-xml/Samba3-ByExample/images/ch7-singleLDAP.png
/docs-xml/Samba3-ByExample/images/ch8-migration.png
/docs-xml/Samba3-ByExample/images/chap4-net.png
/docs-xml/Samba3-ByExample/images/chap5-net.png
/docs-xml/Samba3-ByExample/images/chap6-net.png
/docs-xml/Samba3-ByExample/images/chap7-idresol.png
/docs-xml/Samba3-ByExample/images/chap9-ADSDC.png
/docs-xml/Samba3-ByExample/images/chap9-SambaDC.png
/docs-xml/Samba3-HOWTO/images/access1.png
/docs-xml/Samba3-HOWTO/images/browsing1.png
/docs-xml/Samba3-HOWTO/images/cups1.png
/docs-xml/Samba3-HOWTO/images/cups2.png
/docs-xml/Samba3-HOWTO/images/domain.png
/docs-xml/Samba3-HOWTO/images/idmap-gid2sid.png
/docs-xml/Samba3-HOWTO/images/idmap-sid2gid.png
/docs-xml/Samba3-HOWTO/images/idmap-sid2uid.png
/docs-xml/Samba3-HOWTO/images/idmap-store-gid2sid.png
/docs-xml/Samba3-HOWTO/images/idmap-uid2sid.png
/docs-xml/Samba3-HOWTO/images/pdftoepsonusb.png
/docs-xml/Samba3-HOWTO/images/pdftosocket.png
/docs-xml/Samba3-HOWTO/images/trusts1.png
.testrepository
/bin/.confcache/*/*
/bin/.conf_check_*/*
/.emacs.desktop*
.gdb_history
.agignore
# generated by configure
python/samba/provision/kerberos_implementation.py

# vagrant
.vagrant/

# Visual Studio Code
.vscode/

# read by pyenv to auto switch python envs
.python-version

# read by direnv to auto load environment variables
.envrc

# LSP servers
compile_commands.json
.clangd/
.cache/
.ropeproject/
.tmplock
