# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

.DS_Store
Makefile.in
*~

/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/ylwrap
/appl/login/login_protos.h
/cf/libtool.m4
/cf/ltoptions.m4
/cf/ltsugar.m4
/cf/ltversion.m4
/cf/lt~obsolete.m4
/doc/Makefile.in
/doc/heimdal.info
/doc/hx509.info
/doc/gssapi
/doc/hdb
/doc/hcrypto
/doc/hx509
/doc/krb5
/doc/ntlm
/doc/wind
/include/config.h.in
/include/stamp-h.in
/kcm/kcm_protos.h
/kdc/kdc-protos.h
/kdc/kdc-private.h
/lib/asn1/der-protos.h
/lib/asn1/der-private.h
/lib/auth/Makefile.in
/lib/com_err/parse.c
/lib/com_err/parse.h
/lib/gssapi/krb5/gsskrb5-private.h
/lib/gssapi/ntlm/ntlm-private.h
/lib/gssapi/spnego/spnego-private.h
/lib/hdb/hdb-protos.h
/lib/hdb/hdb-private.h
/lib/hx509/hx509-private.h
/lib/hx509/hx509-protos.h
/lib/hx509/data/*.pem
/lib/hx509/data/*.srl
/lib/hx509/data/*.req
/lib/hx509/data/sub-ca-combined.crt
/lib/kadm5/kadm5-protos.h
/lib/kadm5/kadm5-private.h
/lib/krb5/krb5-protos.h
/lib/krb5/krb5-private.h
/lib/ntlm/heimntlm-protos.h
/lib/wind/*.pyc
/lib/wind/bidi_table.c
/lib/wind/bidi_table.h
/lib/wind/combining_table.c
/lib/wind/combining_table.h
/lib/wind/errorlist_table.c
/lib/wind/errorlist_table.h
/lib/wind/map_table.c
/lib/wind/map_table.h
/lib/wind/normalize_table.c
/lib/wind/normalize_table.h
/lib/wind/punycode_examples.c
/lib/wind/punycode_examples.h
/scripts
