*.o
*.po
*~
*.swp
*.patch
semantic.cache
source/TAGS
source/include/build_env.h
source/include/config.h
source/include/config.h.in
source/include/stamp-h
source/include/version.h
source/Makefile
source/lib/netapi/examples/Makefile
source/lib/netapi/tests/Makefile
source/config.log
source/config.status
source/configure
source/smbadduser
source/bin/*
source/script/findsmb
source/script/gen-8bit-gap.sh
source/script/installbin.sh
source/script/uninstallbin.sh
source/smbd/build_options.c
source/tags
source/include/includes.h.gch
source/config.cache
source/library-versions
source/nsswitch/*.so
source/proto_exists
source/cscope.out
source/torture.tdb
source/pkgconfig/*.pc
source/st
source/exports/libsmbclient.syms
source/exports/libsmbsharemodes.syms
source/exports/libnetapi.syms
source/exports/libtalloc.syms
source/exports/libtdb.syms
source/exports/libwbclient.syms
examples/VFS/Makefile
examples/VFS/config.log
examples/VFS/config.status
examples/VFS/configure
examples/VFS/module_config.h
examples/VFS/module_config.h.in
examples/VFS/shadow_copy_test.so
examples/VFS/skel_opaque.so
examples/VFS/skel_transparent.so
examples/libsmbclient/smbwrapper/smbsh
examples/libsmbclient/smbwrapper/smbwrapper.so
examples/libsmbclient/testacl
examples/libsmbclient/testacl2
examples/libsmbclient/testacl3
examples/libsmbclient/testbrowse
examples/libsmbclient/testbrowse2
examples/libsmbclient/testchmod
examples/libsmbclient/testread
examples/libsmbclient/testsmbc
examples/libsmbclient/teststat
examples/libsmbclient/teststat2
examples/libsmbclient/teststat3
examples/libsmbclient/testutime
examples/libsmbclient/testwrite
examples/libsmbclient/testtruncate
examples/libsmbclient/testfstatvfs
examples/libsmbclient/teststatvfs
examples/libsmbclient/tree
examples/libsmbclient/Makefile.internal
source/librpc/gen_ndr/cli_krb5pac.*
source/librpc/gen_ndr/cli_messaging.*
source/librpc/gen_ndr/cli_misc.*
source/librpc/gen_ndr/cli_notify.*
source/librpc/gen_ndr/cli_security.*
source/librpc/gen_ndr/cli_xattr.*
source/librpc/gen_ndr/srv_krb5pac.*
source/librpc/gen_ndr/srv_messaging.*
source/librpc/gen_ndr/srv_misc.*
source/librpc/gen_ndr/srv_notify.*
source/librpc/gen_ndr/srv_security.*
source/librpc/gen_ndr/srv_xattr.*
