PKG=samba
NAME=CIFS File and Print server
ARCH=__ARCH__
VERSION=__VERSION__
CATEGORY=system
VENDOR=Gerald (Jerry) Carter, Samba Team
DESC=File and printer sharing for Windows workstations
HOTLINE=Please contact your local UNIX support group
EMAIL=jerry@samba.org
CLASSES=none
BASEDIR=__BASEDIR__
INTONLY=1
