#!/bin/sh
# Copyright (C) John H Terpstra 1998
# Updated for RPM 3 by Jochen Wiedmann, joe@ispsoft.de
# Changed for a generic tar file rebuild by abartlet@pcug.org.au
SPECDIR=${SPECDIR:-/usr/src/redhat/SPECS}
SRCDIR=${SRCDIR:-/usr/src/redhat/SOURCES}
USERID=`id -u`
GRPID=`id -g`
VERSION='PVERSION'

rm -f ../../samba2.*.spec

case `rpm --version | awk '{print $3}'` in
    2.*)
       sed -e "s/MANDIR_MACRO/\%\{prefix\}\/man/g" < samba2.spec > samba2.rpm2.spec
       cp samba2.rpm2.spec ../../
       ;;
    3.*)
       sed -e "s/MANDIR_MACRO/\%\{prefix\}\/man/g" < samba2.spec > samba2.rpm3.spec
       cp samba2.rpm3.spec ../../
       ;;
    4.*)
       sed -e "s/MANDIR_MACRO/\%\{_mandir\}/g" < samba2.spec > samba2.rpm4.spec
       cp samba2.rpm4.spec ../../
       ;;
    *)
       echo "Unknown RPM version: `rpm --version`"
       exit 1
       ;;
esac

( cd ../../source; if [ -f Makefile ]; then make distclean; fi )
( cd ../../.. ; chown -R ${USERID}.${GRPID} samba-${VERSION} )
if [ z$1 = z"devel" ]; then
	(cd ../../.. ; mv samba samba-${VERSION} )
fi
( cd ../../.. ; tar --exclude=CVS -czvf ${SRCDIR}/samba-${VERSION}.tar.gz samba-${VERSION}/samba2.*.spec samba-${VERSION} )

cp samba2*spec ${SPECDIR}

if [ z$1 = z"devel" ]; then
	( cd ../../.. ; mv samba-${VERSION} samba )
	if [ -x samba2-devel.spec ]; then
		mv samba2.spec samba2-normal.spec
		cp samba2-devel.spec samba2.spec
	fi
fi
cd ${SPECDIR}
rpm -ba -v samba2.spec

