Source: samba4
Section: net
Priority: optional
Maintainer: Jelmer Vernooij <jelmer@samba.org>
Standards-Version: 3.6.2
Build-Depends: libgtk2.0-dev, libgconf2-dev, libldap-dev, debhelper (>> 4.0.0), libparse-yapp-perl, perl, docbook-xsl, xsltproc

Package: samba4-common
Architecture: all
Description: Common samba files
 Files common for all programs in Samba

Package: samba4-client
Architecture: any
Depends: ${shlibs:Depends}
Description: Client utilities from Samba4
 Client utilities for NetBIOS, SMB and RPC.

Package: samba4-testsuite
Architecture: any
Depends: ${shlibs:Depends}, samba4-common
Description: Testsuite from Samba4
 This package contains programs for testing the reliability and speed 
 of SMB servers, Samba in particular.
 
Package: samba4-server
Architecture: any
Recommends: samba4-swat
Depends: ${shlibs:Depends}, samba4-common
Description: SMB Server
 Contains smbd, the Samba server. 

Package: samba4-gtk-frontends
Architecture: any
Depends: ${shlibs:Depends}
Description: Graphical Samba client utilities
 Contains GTK+ programs for maintaining:
 .
   * Remote SAM databases
   * Local and remote registries
   * DCE/RPC endpoints

Package: winregistry-tools
Architecture: any
Depends: ${shlibs:Depends}
Description: Tools for viewing and manipulating 
 FIXME

Package: libparse-pidl-perl
Architecture: any
Depends: ${perl:Depends}
Description: IDL compiler written in Perl
 FIXME
 
Package: samba4-dev
Architecture: any
Depends: libparse-pidl-perl, libc6-dev, pkg-config (>= 0.14.0)
Description: Tools for extending Samba
 Contains Samba includes and tools

Package: ldb-tools
Architecture: any
Depends: ${shlibs:Depends}
Description: Tools for maintaining LDB database files
 FIXME

Package: samba4-swat
Architecture: all
Description: Swat data files
 Data files for SWAT.

