
[global]
	netbios name = LOCALDC
	workgroup = SAMBADOMAIN
	realm = SAMBA.EXAMPLE.COM
	private dir = @@PREFIX@@/private
	binddns dir = @@PREFIX@@/bind-dns
	lock dir = @@PREFIX@@/
	posix:eadb = @@PREFIX@@/private/eadb.tdb

[sysvol]
	path = @@PREFIX@@/sysvol
	read only = no

[netlogon]
	path = @@PREFIX@@/sysvol/samba.example.com/scripts
	read only = no
