#/bin/sh -e
#
# $Id: samba.config,v 1.1.2.1 2002/05/02 20:02:04 jerry Exp $
#

# Source debconf library.
. /usr/share/debconf/confmodule

db_title "Samba Server"

# Babysit users who don't read README.Debian
db_input medium samba/log_files_moved || true
db_go

db_input medium samba/run_mode || true
db_go

# We vary the priority of the next question depending on whether
#	/etc/samba/smbpasswd already exists...
if [ -f /etc/samba/smbpasswd ]; then
	PRIORITY="low"
else
	# If 'encrypt passwords' is true in smb.conf, and smbpasswd
	# does not exist, default to yes here.
	FILE=/etc/samba/smb.conf
	if [ -f "$FILE" ]; then
		ENCRYPT=`grep -i '^[[:space:]]*encrypt passwords[[:space:]]*=' $FILE \
                 | sed -e's/^[[:space:]]*encrypt passwords[[:space:]]*=[[:space:]]*//i' \
                 | tail -1`
	        if [ "$ENCRYPT" ]; then
			ENCRYPT=`echo $ENCRYPT | tr '[A-Z]' '[a-z]'`
			if [ "$ENCRYPT" = "yes" ]; then
				ENCRYPT=true
			fi
			if [ "$ENCRYPT" = "no" ]; then
				ENCRYPT=false
			fi
		fi
                db_set samba/generate_smbpasswd "$ENCRYPT"
        fi
	PRIORITY="medium"
fi

db_input $PRIORITY samba/generate_smbpasswd || true
db_go
