/* Alternate styles used when accessing the help menu */
#gui {
	width:100%;
	margin:auto;
}
.banner {
	display:none;
}
.nav {
	display:none;
}
#controls {
	background-color:#FFF;
}
#controls ul {
	list-style-type:none;
	margin-left:-10px;
}
.footer {
	display:none;
}
#toc {
	margin-bottom:25px;
}
#toc a:visited {
	color:#15317E !important;
}
#toc img {
	position:relative;
	top:5px;
	margin:0 2px 0 0;
}
#toc hr {
	width:70%;
	height:1px;
	border:0;
	border-top:1px outset #003062;
	color:#FFF;
}
#toc h4 {
	position:relative;
	bottom:35px;
	float:right;
	font-size:small;
	color:#15317E !important;
}

