#!/bin/sh
# Copyright (C) 1998 John H Terpstra, 2000 Klaus Singvogel
#
SPECDIR=${SPECDIR:-/usr/src/OpenLinux/SPECS}
SRCDIR=${SRCDIR:-/usr/src/OpenLinux/SOURCES}
USERID=`id -u`
GRPID=`id -g`

if [ z$1 = "zdevel" ]; then
        ( cd ../../../.. ; chown -R ${USERID}.${GRPID} samba; mv samba samba-PVERSION )
        ( cd ../../../.. ; tar czvf ${SRCDIR}/samba-PVERSION.tar.gz samba-PVERSION; mv samba-PVERSION samba )
else
        ( cd ../../../.. ; chown -R ${USERID}.${GRPID} samba-PVERSION )
        ( cd ../../../.. ; tar czvf ${SRCDIR}/samba-PVERSION.tar.gz samba-PVERSION )
fi

cp -af *.spec *.spec-lsb $SPECDIR
for src in *.patch; do
  trg=`echo $src | sed 's;xxxxxx;PVERSION;'`
  cp -a $src $SRCDIR/$trg
done
cd $SPECDIR
mv -f samba2.spec samba2.spec-nonlsb
ln -f samba2.spec-lsb samba2.spec
rpm -ba -v samba2.spec
