[globals]
	netbios name	= ARES
	workgroup	= SAMBA
	realm		= ALPHA13.SAMBA.CORP
	server role     = domain controller

	private dir = @@PREFIX@@/private
	lock dir = @@PREFIX@@/
	posix:eadb = @@PREFIX@@/private/eadb.tdb

[netlogon]
	path = @@PREFIX@@/sysvol/alpha13.samba.corp/scripts
	read only = no

[sysvol]
	path = @@PREFIX@@/sysvol
	read only = no
