#demoFrame{
  height: expression(document.body.offsetHeight - 40);
}

#demoDebug{
  height: expression(document.body.offsetHeight - 184);
}

#demoDebug .log-body{
  height: expression(document.body.offsetHeight - 214);
}
