*.[oa]
*~
config.status
configure
publish*.sh
push*.sh
web/packages
TAGS
bin
Makefile
config.h
config.h.in
config.log
utils/smnotify/gen_smnotify.c
utils/smnotify/gen_xdr.c
utils/smnotify/smnotify.h
nodes.txt
public_addresses.txt
rec.lock
test.db
tests/bin
tests/events.d/00.ctdb_test_trigger
tests/var
