*.[oa]
*~
*.swp
config.status
configure
ctdb.pc
publish*.sh
push*.sh
web/packages
TAGS
tags
bin
Makefile
config.h
config.h.in
config.log
utils/smnotify/gen_smnotify.c
utils/smnotify/gen_xdr.c
utils/smnotify/smnotify.h
nodes.txt
public_addresses.txt
rec.lock
test.db
tests/bin
tests/var
tests/takeover/ctdb_takeover.pyc
tests/eventscripts/var
tests/eventscripts/etc/iproute2
tests/eventscripts/etc-ctdb/policy_routing
packaging/RPM/ctdb.spec
doc/*.[1-7]
doc/*.[1-7].html
