#DetailFrame,
#DetailFrame td,
#DetailFrame th{
  font-family: Verdana, "Lucida Grande", "Bitstream Vera Sans", Tahoma, "Lucida Sans Unicode", Arial, sans-serif;
  font-size: 11px;
  line-height: 150%;
}

#DetailFrame h1,
#DetailFrame h2,
#DetailFrame h3,
#DetailFrame h4,
#DetailFrame h5,
#DetailFrame h6{
  font-family: "Trebuchet MS", "Lucida Grande", Verdana, sans-serif;
  color: #134275;
}

#DetailFrame *{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#DetailFrame h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

#DetailFrame h2 {
  font-size: 18px;
  margin-bottom: 4px;
}

#DetailFrame h3 {
  font-size: 14px;
}

#DetailFrame img {
  border: 0 none;
  vertical-align: middle;
}

#DetailFrame a:link,
#DetailFrame a:visited{
  color: #134275;
}

#DetailFrame a:hover,
#DetailFrame a:active{
  color: #134275;
  text-decoration: underline;
}

#DetailFrame td{
  vertical-align: top;
  padding: 2px;
}





#DetailLoader div.please{
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 4px;
}






#InfoViewer div.pkgtitle{
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 4px;
}








#ClassViewer div.classDescription{
  font-size: 12px;

  background: #E9F2FB;
  border: 1px solid #E9F2FB;

  -moz-border-radius: 5px;
  padding: 12px;
  padding-top: 4px;

  width: 450px;
}

#ClassViewer div.classDescription p{
  margin-top: 10px;
}

#ClassViewer div.packageName{
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 4px;
}

#ClassViewer span.typeInfo{
  color: #83B300;
  font-weight: normal;
}






#ClassViewer div.infoPanel {
  margin-top: 30px;
}

#ClassViewer div.infoPanel h2{
  cursor: default;
}

#ClassViewer div.infoPanel span.inheritCheck {
  font-weight: normal;
  float: right;
  font-size: 11px;
  vertical-align: bottom;
}

#ClassViewer div.infoPanel span.inheritCheck input,
#ClassViewer div.infoPanel span.inheritCheck label{
  vertical-align: middle;
}

#ClassViewer div.infoPanel span.inheritCheck label{
  margin-left: 3px;
}







#ClassViewer table.info {
  table-layout: fixed;
}

#ClassViewer table.info tr {
  background: #FBFFEF;
}

#ClassViewer table.info tr.marked {
  background: #DEFF83;
}

#ClassViewer table.info tr td,
#ClassViewer div.empty-info-body {
  border-top: 1px solid #ECECEC;
}

#ClassViewer table.info tr td{
  overflow: hidden;
}

#ClassViewer table.info tr td td{
  border-top: 0 none;
  padding: 0;
}

#ClassViewer table.info td.icon{
  text-align: center;
  width: 20px;
}

#ClassViewer table.info td.type{
  width: 100px;
  font-size: 12px;
  color: #83B300;
  font-weight: bold;
}

#ClassViewer table.info td.toggle{
  text-align: center;
  width: 16px;
  padding: 1px;
}

#ClassViewer table.info td.toggle img{
  cursor: default;
}

#ClassViewer table.info td.text h3{
  cursor: default;
}

#ClassViewer span.methodSignature{
  font-size: 12px;
  color: #83B300;
}

#ClassViewer table.info td.type a,
#ClassViewer span.methodSignature a{
  color: #83B300 !important;
}

#ClassViewer span.methodSignature span.parameterType{
  font-style: italic;
}

#ClassViewer span.methodSignature span.separator{
  color: #134275;
  font-weight: bold;
}

#ClassViewer span.methodSignature span.parenthesis{
  color: #134275;
  font-weight: bold;
}





#ClassViewer div.item-detail-headline {
  font-weight: bold;
  color: #1D65B3;
}

#ClassViewer div.item-detail-text {
  padding-left: 12px;
}

#ClassViewer div.item-detail-text p{
  display: inline;
}

#ClassViewer div.item-detail-error {
  font-weight: bold;
  color: #D61F1C;
}

#ClassViewer span.item-detail-optional {
  font-style: italic;
}

#ClassViewer code,
#ClassViewer span.item-detail-param-name {
  font-family: Consolas, "Bitstream Vera Sans Mono", "Courier New", monospace;
  background: #E9F2FB;
  padding: 1px;
}

#ClassViewer span.caps{
  color: #134275;
}
