[Desktop Entry]
Name=Samba
DocPath=/usr/share/doc/samba/help/index.html
X-COL-Weight=2.0
# listed in DocView under:
#    Networking group (NetworkDoc)
#    Windows Connectivity category (WinConnect)       
